altgraph==0.17.4
amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
diff-match-patch==20241021
Django==5.2.1
django-import-export==4.3.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
et_xmlfile==2.0.0
inflection==0.5.1
Jinja2==3.1.5
kombu==5.4.2
MarkupSafe==3.0.2
mysqlclient==2.2.6
numpy==2.2.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
prompt_toolkit==3.0.48
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyJWT==2.10.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
pyxlsb==1.0.10
PyYAML==6.0.2
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.3
tablib==3.7.0
tzdata==2024.2
uritemplate==4.1.1
vine==5.1.0
wcwidth==0.2.13
xlrd==2.0.1
